* {
  overflow-y: hidden;
}

body.dark-mode, body.dark-mode #nav button, body.dark-mode #nav {
  background-color: black;
  color: white;
}

#main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin-top: 60px;
}

#nav {
  background-color: #333;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

#nav button, #Quiz button, #remove-highlight, #highlight {
  padding: 10px;
  background-color: red;
  color: white;
}

#Quiz, body.dark-mode #Quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border: 2px solid black;
  padding: 50px 200px 30px 200px;
  border-radius: 30px;
  background: #DDD8D8;
  box-shadow: black;
  height: 700px;
  width: 800px;
}

.option, body.dark-mode .option {
  margin: 10px 8px;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  justify-content: space-around;
  height: 100px;
  width: 500px;
  background: #DDD8D8;
  overflow-x: hidden;
  border-radius: 30px;
}

.option button, body.dark-mode .option button {
  padding: 10px;
  background-color: red;
  color: white;
}

#Quiz button {
  margin-right: 40px;
}

body.dark-mode #Quiz {
  border-color: white;
  background: #333;
  color: white;
}

body.dark-mode .option {
  background: #333;
}

body.dark-mode .option button {
  background-color: blue;
}

.dark-mode, .dark-mode #highlight, .dark-mode #remove-highlight {
  background-color: #333;
  color: white;
}

h1 {
  color: blue;
}

#question{
  font-size: 20px;
}